{% extends 'core/base.html' %}
{% load static %}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{%endblock %}

{% block main %}
<div class="all">
    <section class="container" tyle="background-color: brown;">
        <h1 class="h1_container">МЕБЕЛЬ</h1>
        <ul class="product_list">
            {% for p in products %}

            {% if forloop.counter0|divisibleby:3 %}
            {% endif %}

            <li class="product_item product_item_normal">
                <div class="product_img_container">
                    <img class="product_img" src="{{p.productimg_set.first.image.url}}">
                </div>
                <a href="{{p.get_absolute_url}}">
                    <h2 class="product_title">{{p.title}}</h2>
                </a>
                <p class="product_price">{{p.price}} <span>₽</span></p>
                <a href="{%url 'add_to_cart' p.pk%}" class="outline-btn">В корзину</a>
            </li>

            {% if forloop.counter|divisibleby:3 or forloop.last %}
            {% endif %}

            {% endfor %}
        </ul>
    </section>
    <section class="menu">
        <nav>
            <h4 class="menu_katalog">Каталог</h4>
            <ul class="name_menu">
                {%for type in product_type%}
                <li><a class="link1" href="{%url 'product_filter' type.pk%}">{{type.title}}</a></li>
                {%endfor%}
            </ul>
        </nav>
    </section>
</div>

{% endblock %}
