.img_wrapper
{
    width: 50%;
    height: 650px;
    position: relative;
    overflow: hidden;
}
.product_img
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 110%;
    margin-top: 50px;
}
.product_wrapper
{
    display: flex;
    justify-content: space-around;

}
.product
{
    margin-top: 70px;
}
.product_information
{
    margin-top: 50px;
    width: 35%;
    size: 50%;
    
}
.product_details_wrapper
{
    margin-top: 100px;
}
.product_descriptions
{
    color: dimgray;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 1.5px;
}
.product_button
{
    color: white;
    background-color:dimgray;
    padding: 7px;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    
}
.product_price
{
    font-size: 28px;
    margin-top: 10px;
    margin-top: 50px;
    font-weight: 700; 
}
.add_to_cart
{
    padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}