.user_img_wrapper
{
    position:relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.user_img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}