{% extends 'core/base.html' %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{%endblock %}
{% block main %}
<section class = "container">
    <form method="post" action="">
        <h2 class = "form_title">Изменить информацию</h2>
        {%csrf_token%}
        {{form}}
        <button type="submit">Сохранить</button>
    </form>
    <div class="change_btn">
        <a  href="{%url 'change_password'%}">
    Изменить пароль
  </a>
    </div>

</section>
{%endblock%}