{% extends 'core/base.html' %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{%endblock %}
{% block main %}

<section class="user-form-container"
         style="background: url('{% static 'images/orig.webp' %}') no-repeat center / cover">

    <div class="user-form">
        <form method="post" action="">
            <h2 class="form_title">Авторизация</h2>

            {%csrf_token%}
            {{form}}
            <button type="submit" class="outline-btn">Войти</button>

        </form>

    </div>


</section>
{%endblock%}