{% extends 'core/base.html' %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{%endblock %}
{% block main %}
<section class="container">
    <div class="cart-header">
        <div class="title-wrapper">
            <h2 class="cart-title">Корзина</h2>
            <p class="secondary-text item-quantity">товаров в корзине: <span>{{ items_quantity }}</span></p>
        </div>
        <div class="total-price-wrapper">
            <p class="total-price">Общая цена: <span>{{ total_price }}</span> <span>₽</span></p>
        </div>
    </div>
    <div class="sep-line"></div>
    <ul>
        {%for item in cart_items%}
        <li class="cart_item">
            <div class="product_img_wrapper">
                <img src="{{item.product.productimg_set.first.image.url}}" alt="" class="product_img">
            </div>
            <div class="product_info">
                <h2 class="product_title">{{item.product.title}}</h2>

            </div>


            <div class="btn_wrapper">
                <div class="calc_quantity">
                    <div class="q-item">
                        <a href="{%url 'decrease_item' item.product.id%}" class="quantity-link">
                            -
                        </a>
                    </div>

                    <div class="qq-item q-item">
                        <span class="quantity">
                        {{item.quantity}}
                    </span>
                    </div>

                    <div class="q-item">
                        <a href="{%url 'increase_item' item.product.id%}" class="quantity-link">
                            +
                        </a>
                    </div>


                </div>

            </div>

            <div class="price_cart">
                <p>
                    {{item.get_price}} <span>₽</span>
                </p>
                <a href="{%url 'remove_from_cart' item.product.id%}">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>

        </li>
        {%endfor%}

    </ul>
    <div class="btn-wrapper">
        <button class="outline-btn buy_btn">Купить</button>

    </div>

</section>
{%endblock%}