{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {%block styles%}
    {%endblock %}
     <script src="https://kit.fontawesome.com/800f121123.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <style>
        .product_button {
        border-radius: 20px;
         padding: 10px;
        }
        .container{
         font-family: Arial, Helvetica, sans-serif;
        }
        .all{
        background-color: beige;
        }
        .buy_btn{
          margin-top: 10px;
       }
    </style>
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{%url 'home'%}" class="nav-link px-2 text-secondary">Главная</a></li>
                <li><a href="{%url 'product_list'%}" class="nav-link px-2 text-white">Каталог</a></li>
            </ul>


            <div class="text-end">
                {%if user.is_authenticated%}
                <a href="{%url 'profile'%}" type="button" class="btn btn-outline-light me-2">Профиль</a>
                <a href="{%url 'cart'%}" type="button" class="btn btn-outline-light me-2">Карзина</a>
                {%else%}
                <a href="{%url 'login'%}" type="button" class="btn btn-outline-light me-2">Войти</a>
                <a href="{%url 'sign_up'%}" type="button" class="btn btn-warning">Зарегистрироваться</a>
                {%endif%}

            </div>

        </div>
    </div>
</header>
<!--<main>-->
<!--    <section class="info">-->
<!--        <div class="container">-->
<!--            <div class="info__inner">-->
<!--                <p class="info__text">На первый заказ действует скидка 20%</p>-->
<!--                <h1 class="info__title">Новая коллекция мебели</h1>-->
<!--                <a href="{%url 'product_list'%}" class="info___link">Перейти к каталогу</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--</main>-->
{% block main %}

{% endblock %}
</body>
</html>