{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}

{% block main %}

<section class="header-banner"
         style="background: url('{% static 'images/main_banner.jpg' %}') no-repeat center / cover">
</section>

<section class="container text-content-block">

    <div class="text-block-wrapper">

        <h2 class="text-block-title">Мебель на ваш вкус</h2>

        <p class="text-content">
            Украсьте свой дом стильной и удобной мебелью из нашего широкого ассортимента.
            Мы предлагаем самые современные и качественные товары для оформления любого
            интерьера, от уютных гостинных и спален до функциональных рабочих пространств.
        </p>

        <a href="{% url 'product_list' %}" class="outline-btn">Перейти</a>
    </div>

</section>

<section class="image-banner-section"
         style="background: url('{% static 'images/second_bg.jpg' %}') no-repeat center/ cover ">

    <div class="text-block">

        <h2>Добро пожаловать в мир стильной и уютной мебели</h2>

        <p class="image-banner-text-content">
            Позвольте нам помочь вам воплотить в жизнь ваши мечты о идеальном доме!
            Сделайте заказ прямо сейчас и наслаждайтесь красотой и комфортом нашей мебели каждый день.
        </p>

        <a href="{% url 'product_list' %}" class="outline-btn">Перейти</a>


    </div>


</section>


{% endblock main %}